/* Disable zoom and double-tap behaviors on mobile */
* {
    touch-action: manipulation;
}

.global-lit {
    background-color: #F5A92B;
    height: 100vh;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.global-lit,
.global-lit *,
.global-lit *:hover,
.global-lit *:focus,
.global-lit *:active {
    cursor: url("crosshair.png") 15 15, auto !important;
}

/* Force crosshair on body when in game mode */
body.global-lit {
    cursor: url("crosshair.png") 15 15, auto !important;
}

/* Force crosshair on html element when in game mode */
html:has(body.global-lit) {
    cursor: url("crosshair.png") 15 15, auto !important;
}

.global-regular {
    background: rgb(250,238,219);
    background: linear-gradient(325deg, rgba(250,238,219,1) 0%, rgba(225,231,231,1) 51%, rgba(242,241,241,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.header-font {
    font-family: 'SentientBold', 'Georgia', 'serif';
    font-size: 50px;
}

.body-header-font {
    font-family: 'SentientBold', 'Georgia', 'serif';
    font-size: 25px;
}

.body-header-section {
    height: 40px;
    border-bottom: 1px solid black;
}

.body-font {
    font-family: 'SentientBold', 'Georgia', 'serif';
    font-size: 20px;
}

.body-section-content {
  margin-top: 15px;
}

.subheader {
    margin-top: 10px;
}

.body-content {
    margin: 50px 20% 50px 20%;
    padding-top: 20px; /* Add space for the toggle */
}

/* Mobile responsive design */
@media screen and (max-width: 768px) {
    .body-content {
        margin: 20px 5% 20px 5%;
        padding-top: 30px; /* Extra space on mobile for toggle */
    }
    
    .header-font {
        font-size: 35px;
    }
    
    .body-header-font {
        font-size: 20px;
    }
    
    .body-font {
        font-size: 16px;
    }
    
    #headshot {
        width: 140px !important;
        height: 160px !important;
        left: calc(50% - 70px) !important;
    }
    
    /* Mobile toggle container adjustments */
    #toggle-container {
        right: 10px !important;
        top: 10px !important;
    }
    
    #try-me {
        font-size: 18px !important;
        margin-right: 10px !important;
    }
}

/* Prevent toggle container from being highlighted */
#toggle-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#toggle-container * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

#try-me {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

/* Wave animation for Try Me text */
.wave-text {
    font-family: 'SentientBold', 'Georgia', 'serif';
    font-weight: normal;
    color: #ff1744;
    animation: rainbow 12s ease-in-out infinite;
}

.wave-text span {
    display: inline-block;
    animation: wave 5s ease-in-out infinite 4s;
}

.wave-text span:nth-child(1) {
    animation-delay: 4s;
}
.wave-text span:nth-child(2) {
    animation-delay: 4.1s;
}
.wave-text span:nth-child(3) {
    animation-delay: 4.2s;
}
.wave-text span:nth-child(4) {
    animation-delay: 4.3s;
}
.wave-text span:nth-child(5) {
    animation-delay: 4.4s;
}
.wave-text span:nth-child(6) {
    animation-delay: 4.5s;
}
.wave-text span:nth-child(7) {
    animation-delay: 4.6s;
}
.wave-text span:nth-child(8) {
    animation-delay: 4.7s;
}
.wave-text span:nth-child(9) {
    animation-delay: 4.8s;
}

@keyframes wave {
    0%, 10%, 100% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-10px);
    }
}

@keyframes rainbow {
    0% {
        color: #ff1744; /* Bright Poppy Red */
    }
    33.33% {
        color: #2979ff; /* Bright Electric Blue */
    }
    66.67% {
        color: #00e676; /* Bright Neon Green */
    }
    100% {
        color: #ff1744; /* Back to Bright Poppy Red */
    }
}

ul li {
    margin-top:10px;
}

/* Toggle Switch - Override crosshair for usability */
.switch,
.switch *,
.slider,
.slider *,
#toggle-container,
#toggle-container * {
    cursor: pointer !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .switch input:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc00;
    border: 1px solid black;
    -webkit-transition: .4s;
    transition: .4s;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .slider:focus {
    outline: none;
    box-shadow: none;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 3px;
    background-color: rgb(0, 0, 0);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2195f300;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2195f300;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }